body{
    background-color: rgb(255, 253, 240);

}

* {
    font-family: 'Courier New', Courier, monospace;
}

ul {
    color: darkblue;
    font-size: 26px;
    display: block;
    list-style: circle;
}

ol {
    list-style-type: upper-roman;
}

img {
    max-width: 600px;
    height: auto;
}

.links {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}